<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hello{% endblock %}</title>
    <style>
        nav a {
            color: #6b041aa0;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('hello') }}">HOME</a>
        <a href="{{ url_for('speedtest') }}">SPEEDTEST</a>
        <a href="{{ url_for('status') }}">STATUS</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>